.container{
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;


}
.box{
    background-color: brown;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}